@define-color window-bg             {{ .WindowBg }}; 

@define-color button-bg             {{ .ButtonBg }};
@define-color button-focus-bg       {{ .ButtonFocusBg }};
@define-color button-focus-border   {{ .ButtonFocusBorder }};
