@define-color rosewater          {{ .Rosewater }};
@define-color flamingo           {{ .Flamingo }};
@define-color pink               {{ .Pink }};
@define-color mauve              {{ .Mauve }};
@define-color red                {{ .Red }};
@define-color maroon             {{ .Maroon }};
@define-color peach              {{ .Peach }};
@define-color yellow             {{ .Yellow }};
@define-color green              {{ .Green }};
@define-color teal               {{ .Teal }};
@define-color sky                {{ .Sky }};
@define-color sapphire           {{ .Sapphire }};
@define-color blue               {{ .Blue }};
@define-color lavender           {{ .Lavender }};

@define-color text               {{ .Text }};
@define-color subtext-1          {{ .Subtext1 }};
@define-color subtext-0          {{ .Subtext0 }};

@define-color overlay2           {{ .Overlay2 }};
@define-color overlay1           {{ .Overlay1 }};
@define-color overlay0           {{ .Overlay0 }};

@define-color surface2           {{ .Surface2 }};
@define-color surface1           {{ .Surface1 }};
@define-color surface0           {{ .Surface0 }};

@define-color base               {{ .Base }};
@define-color mantle             {{ .Mantle }};
@define-color crust              {{ .Crust }};

@define-color main-br            {{ .MainBr }};
@define-color main-bg            {{ .MainBg }};
@define-color main-fg            {{ .MainFg }};

@define-color accent             {{ .Accent }};
@define-color hover-bg           {{ .HoverBg }};
@define-color hover-fg           {{ .HoverFg }};
@define-color outline            {{ .Outline }};

@define-color workspaces         {{ .Workspaces }};
@define-color temperature        {{ .Temperature }};
@define-color memory             {{ .Memory }};
@define-color cpu                {{ .Cpu }};
@define-color time               {{ .Time }};
@define-color date               {{ .Date }};
@define-color tray               {{ .Tray }};
@define-color volume             {{ .Volume }};
@define-color backlight          {{ .Backlight }};
@define-color battery            {{ .Battery }};

@define-color warning            {{ .Warning }};
@define-color critical           {{ .Critical }};
@define-color charging           {{ .Charging }};

