@define-color waybar-bg {{ .WaybarBg }};
@define-color waybar-fg {{ .WaybarFg }};

@define-color modules-bg {{ .ModulesBg }};
@define-color tooltip-bg {{ .TooltipBg }};

@define-color module-hover-fg {{ .ModuleHoverFg }};

@define-color workspaces-btn {{ .WorkspacesBtn }};
@define-color workspaces-active-bg {{ .WorkspacesActiveBg }};
@define-color workspaces-active-fg {{ .WorkspacesActiveFg }};

@define-color accent-1 {{ .Accent1 }};
@define-color accent-2 {{ .Accent2 }};
@define-color border-color {{ .BorderColor }};

