[colors]
foreground={{ .Fg }}
background={{ .Bg }}

regular0={{ .Regular0 }}  # black
regular1={{ .Regular1 }}  # red
regular2={{ .Regular2 }}  # green
regular3={{ .Regular3 }}  # yellow
regular4={{ .Regular4 }}  # blue
regular5={{ .Regular5 }}  # magenta
regular6={{ .Regular6 }}  # cyan
regular7={{ .Regular7 }}  # white

bright0={{ .Bright0 }}   # bright black
bright1={{ .Bright1 }}   # bright red
bright2={{ .Bright2 }}   # bright green
bright3={{ .Bright3 }}   # bright yellow
bright4={{ .Bright4 }}   # bright blue
bright5={{ .Bright5 }}   # bright magenta
bright6={{ .Bright6 }}   # bright cyan
bright7={{ .Bright7 }}   # bright white
