$accent = {{ .Accent }}
$accentAlpha = {{ .AccentAlpha }}
$primaryFont = {{ .PrimaryFont }}
$secondaryFont = {{ .SecondaryFont }}

$gapsIn = {{ .GapsIn }}
$gapsOut = {{ .GapsOut }}
$borderSize = {{ .BorderSize }}
$colActiveBorder1 = {{ .ColActiveBorder1 }}
$colActiveBorder2 = {{ .ColActiveBorder2 }}
$colActiveBorderDeg = {{ .ColActiveBorderDeg }}
$colInactiveBorder = {{ .ColInactiveBorder }}

$blur = {{ .Blur }}
$blurSize = {{ .BlurSize }}
$blurPasses = {{ .BlurPasses }}
$rounding = {{ .Rounding }}
$shadow = {{ .Shadow }}
$shadowRange = {{ .ShadowRange }}
$shadowRenderPower = {{ .ShadowRenderPower }}
$shadowColor = {{ .ShadowColor }}
$footOpacity = {{ .FootOpacity }}
